<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ymusic.Mapper.SasLoadMapper">
<resultMap id="SasLoadResultMap" type="SasLoad">
        <id property="id" column="id"/>
        <result property="taskCode" column="task_code"/>
        <result property="status" column="status"/>
</resultMap>
    <select id= "getSasLoad"  resultMap="SasLoadResultMap">
        SELECT * FROM sas_load_test
    </select>

    <select id= "getSasLoadStatus"  resultMap="SasLoadResultMap">
        SELECT * FROM sas_load_test where status != 'running' and status != 'done' limit 1;
    </select>
<!--    updateSasLoadStatus(String id,String taskCode)-->
    <update id="updateSasLoadStatus" parameterType="com.example.ymusic.domain.SasLoad">
        update sas_load_test set status = #{status} , task_code = #{taskCode} where id = #{id}
    </update>
</mapper>