<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ymusic.Mapper.UserMapper">
<resultMap id="userResultMap" type="User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="createTime" column="create_time"/>
        <result property="lastUpdateTime" column="last_update_time"/>
</resultMap>
<!--    <select id= "getSasLoad"  resultMap="SasLoadResultMap">-->
<!--        SELECT * FROM sas_load_test-->
<!--    </select>-->

<!--    <select id= "getSasLoadStatus"  resultMap="SasLoadResultMap">-->
<!--        SELECT * FROM sas_load_test where status != 'running' and status != 'done' limit 1;-->
<!--    </select>-->
<!--    &lt;!&ndash;    updateSasLoadStatus(String id,String taskCode)&ndash;&gt;-->
<!--    <update id="updateSasLoadStatus" parameterType="com.example.ymusic.domain.SasLoad">-->
<!--        update sas_load_test set status = #{status} , task_code = #{taskCode} where id = #{id}-->
<!--    </update>-->
        <!--<update id="updateUser"></update>-->
        <select id="getUserBYAccount" resultType="java.lang.Integer">
                select count(1) from t_user where email = #{email}
        </select>



<!--        select * from commodity where 1 = 1-->
<!--        <if test="#{startDate}.toString() != #{endDate}.toString()">-->
<!--                and date between #{startDate} and #{endDate}-->
<!--        </if>-->
        <update id="userLogin" parameterType="com.example.ymusic.domain.User">
                update t_user set
                <if test="#{createTime}.toString() != null">
                    create_time = #{createTime},
                </if>
                 last_update_time = #{lastUpdateTime}
                 where email = #{email}

        </update>
        <select id="getUserMsgByAccount" resultMap="userResultMap">


                select * from t_user where user_name = #{userName}
        </select>

<!--        ####select * from t_user where email = #{email}####-->
</mapper>